/* Menu Toggle */
button#nav-icon {
  border: none !important;
  outline: none !important;
}
button#nav-icon {color:#000;}      /* unvisited link */
button#nav-icon:visited {color:#000;}  /* visited link */
button#nav-icon, button#nav-icon:hover, button#nav-icon:active, button#nav-icon:focus {
  border: none;
  color: none;
}
button#nav-icon:hover span, .app-menu-toggled button#nav-icon span {
  -webkit-animation: bg-rainbow 10s infinite;
  -ms-animation: bg-rainbow 10s infinite;
  -o-animation: bg-rainbow 10s infinite;
  animation: bg-rainbow 10s infinite;
}
#nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  margin: 12px 14px;
  padding: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out, margin 1s ease;
  -moz-transition: .3s ease-in-out, margin 1s ease;
  -o-transition: .3s ease-in-out, margin 1s ease;
  transition: .3s ease-in-out, margin 1s ease;
  cursor: pointer;
}
#nav-icon p {
  position: absolute;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  right: 28px;
  top: 0px;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}
.app-menu-dark #nav-icon span {
  background: #fff;
}
.app-menu-dark #nav-icon p {
  color: #fff;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  border-radius: 2px;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon.toggled span {
  width: 27px;
  width: 27px;
}
#nav-icon.toggled span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0px;
}
#nav-icon.toggled span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon.toggled span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 0px;
}
@-webkit-keyframes bg-rainbow {
  0% {background-color: #f35b5b;}
  17% {background-color: #f09f4e;}
  33% {background-color: #fafa79;}
  40% {background-color: #6ef7ab;}
  67% {background-color: #5cfcf4;}
  83% {background-color: #7b8ef8;}
  100% {background-color: #f35ba2;}
}
@-ms-keyframes bg-rainbow {
  0% {background-color: #f35b5b;}
  17% {background-color: #f09f4e;}
  33% {background-color: #fafa79;}
  40% {background-color: #6ef7ab;}
  67% {background-color: #5cfcf4;}
  83% {background-color: #7b8ef8;}
  100% {background-color: #f35ba2;}
}
@-o-keyframes bg-rainbow {
  0% {background-color: #f35b5b;}
  17% {background-color: #f09f4e;}
  33% {background-color: #fafa79;}
  40% {background-color: #6ef7ab;}
  67% {background-color: #5cfcf4;}
  83% {background-color: #7b8ef8;}
  100% {background-color: #f35ba2;}
}
@keyframes bg-rainbow {
  0% {background-color: #f35b95;}
  17% {background-color: #f09f4e;}
  33% {background-color: #fafa79;}
  40% {background-color: #6ef7ab;}
  67% {background-color: #5cfcf4;}
  83% {background-color: #7b8ef8;}
  100% {background-color: #f35ba2;}
}
button#nav-icon:hover p, .app-menu-toggled button#nav-icon p {
  -webkit-animation: p-rainbow 10s infinite;
  -ms-animation: p-rainbow 10s infinite;
  -o-animation: p-rainbow 10s infinite;
  animation: p-rainbow 10s infinite;
}
@-webkit-keyframes p-rainbow {
  0% {color: #f35b5b;}
  17% {color: #f09f4e;}
  33% {color: #fafa79;}
  40% {color: #6ef7ab;}
  67% {color: #5cfcf4;}
  83% {color: #7b8ef8;}
  100% {color: #f35ba2;}
}
@-ms-keyframes p-rainbow {
  0% {color: #f35b5b;}
  17% {color: #f09f4e;}
  33% {color: #fafa79;}
  40% {color: #6ef7ab;}
  67% {color: #5cfcf4;}
  83% {color: #7b8ef8;}
  100% {color: #f35ba2;}
}
@-o-keyframes p-rainbow {
  0% {color: #f35b5b;}
  17% {color: #f09f4e;}
  33% {color: #fafa79;}
  40% {color: #6ef7ab;}
  67% {color: #5cfcf4;}
  83% {color: #7b8ef8;}
  100% {color: #f35ba2;}
}
@keyframes p-rainbow {
  0% {color: #f35b5b;}
  17% {color: #f09f4e;}
  33% {color: #fafa79;}
  40% {color: #6ef7ab;}
  67% {color: #5cfcf4;}
  83% {color: #7b8ef8;}
  100% {color: #f35ba2;}
}
