/* Header */
#header {
  display: block;
  box-sizing: border-box;
  background: none;
  position: fixed;
  width: 100%;
  height: 55px;
  padding: 10px;
  z-index: 75;
  -webkit-transition: background-color .5s ease; /* Safari */
  transition: background-color .5s ease;
}
.app-menu-sticky #header {
  background-color: #000;
}
#header a.site-title {
  display: block;
  position: relative;
  height: 0;
  margin:0;
  float: left;
  opacity: 0; 
}
#header a.site-title h1 {
  float: left;
  display: inline;
  height: 0;
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
  -webkit-transition: color .3s ease; /* Safari */
  transition: color .3s ease;
}
.app-menu-toggled #header a.site-title, .app-menu-sticky #header a.site-title {
  -webkit-transition: opacity 1s ease; /* Safari */
  transition: opacity 1s ease; 
  opacity: 1;
  color: #fff;
  height: auto;
  margin-top: 6px;
  margin-left: 12px;
}
.app-menu-toggled #header a.site-title h1, .app-menu-sticky #header a.site-title h1 {
  height: auto;
}


