/* Header */
#header {
  display: block;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 22.5px 10px;
  padding: 10px;
  z-index: 75;
  background-color: #fff;
  
  -webkit-transition: background-color 1s ease, height 1s ease, padding 1s ease; /* Safari */
  transition: background-color 1s ease, height 1s ease, padding 1s ease;
}
#App #header a {
  -webkit-transition: .3s ease-in-out, margin-top 1s ease;
  -moz-transition: .3s ease-in-out, margin-top 1s ease;
  -o-transition: .3s ease-in-out, margin-top 1s ease;
  transition: .3s ease-in-out, margin-top 1s ease;
  margin-top: 18.5px;
}
#header a.site-title {
  display: inline;
  position: relative;
  float: left;
  opacity: 1; 
  color: #000;
  height: auto;
  margin-top: 6px;
  margin-left: 12px;
}
#header a.site-title h1 {
  float: left;
  display: inline;
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
  -webkit-transition: color .3s ease; /* Safari */
  transition: color .3s ease;
}
.app-menu-toggled #header a.site-title, .app-menu-dark #header a.site-title {
  color: #000;
}



