.jo-contact-info {
  display: inline-block;
  text-transform: uppercase;
  
}
.jo-contact-info h3 {
  font-weight: bold;
}
.jo-contact-info address, .jo-contact-info a, .jo-contact-info p {
  line-height: 125%;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}