.home-section {
  width: 100%;
  height: 100vh;
  height: 100%;
  background-color: #ffffff;
}
.home-section-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  height: 100vh;
  padding: 25px 25px 25px;
  box-sizing: border-box;
  color: #191919;
  overflow: hidden;
}
.home-section-content h2 {
  text-align: left;
  font-size: 2.2em;
  margin-bottom: .7em;
}
.home-section-content p {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 100;
  text-align: left;
}
.home-section-content a {
  font-size: 1em;
  margin-top: 1.8em;
  color: #191919;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color .5s ease-in-out, border-bottom .5s ease-in-out;
  transition: color .5s ease-in-out, border-bottom .5s ease-in-out;
  border-bottom: 2px solid rgba(0,0,0,0);
}
.home-section-content a:hover {
  
}
.home-section-graphics {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  height: 100vh;
  padding: 25px 25px 25px;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .home-section-content {
      width: 100%;
  }    
}